/* .popover-arrow {
    background-color: inherit;
}
.popover-arrow::before {
    background-color: inherit !important;
}
.popover-arrow::after {
    background-color: inherit !important;
} */

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#progress-container {
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 22rem;
  right: 2rem;
  margin-bottom: 2rem;
}

#tab-1, #tab-2, #tab-3 {
  overflow-y: scroll;
  max-height: 30vh;
  padding-right: 1em;
}

#html-selectors {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.25rem; /* 4px */
}
